@import '../../styles/colors.scss';

.resources-page {
  .controls {
    display: flex;
    align-items: center;

    .calendly-button {
      border: 1px solid #5a72e1;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #5a72e1;
    }

    .add-btn {
      background-color: $primary;
      color: white;
      margin: 0;
      border-radius: 0;
    }

    .push {
      flex-grow: 1;
    }
  }

  .ui {
    &.menu {
      margin-bottom: 2px;
      padding-inline: 0px;
    }

    &.secondary.pointing.menu {
      border-bottom: 0px;

      .active.item {
        border-bottom: 4px solid;
        border-color: $secondaryColor !important;
      }
      .item {
        border-bottom-width: auto;
        padding-inline: 3em;

        &.right {
          padding-inline: 0px;
        }
      }
    }
    &.segment {
      padding: 1.5em 4em;
      margin: 0px -6%;
    }
  }
}
