@import '../../styles/colors.scss';

.resources-page {
  .controls {
    display: flex;
    align-items: center;

    .calendly-button {
      border: 1px solid #5a72e1;
      box-sizing: border-box;
      border-radius: 5px;
      background-color: transparent;
      color: #5a72e1;
    }

    .inactive {
      background-color: white;
      border: $primary;
      color: black;
      margin: 0;
      border-radius: 0;
      border: solid $primary;
    }

    .active {
      border: solid $primary;
      background-color: $primary;
      color: white;
      margin: 0;
      border-radius: 0;

      &:hover {
        background-color: $primary;
        color: white;
      }
    }

    .add-btn {
      background-color: $primary;
      color: white;
      margin: 0;
      border-radius: 0;
    }

    .push {
      flex-grow: 1;
    }
  }

  .resource-group {
    display: flex;

    .resource {
      height: 200px;
      width: 200px;
      justify-content: center;
      margin: 0px !important;
      margin-right: 30px !important;
      background-color: $primary;
      color: white;
      text-align: center;
      border-radius: 1rem;

      &:hover,
      &:focus {
        background-color: $primary;
        opacity: 0.9;
        color: white;
      }
    }
  }
}
