@import '../../styles/colors.scss';

.resources-page {
  .calendly-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px solid #5a72e1;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    color: #5a72e1;
    position: absolute;
    right: 3.78%;
  }
  .controls {
    display: flex;
    align-items: center;

    .inactive {
      background-color: white;
      border: $primary;
      color: black;
      margin: 0;
      border-radius: 0;
      border: solid $primary;
    }

    .active {
      border: solid $primary;
      background-color: $primary;
      color: white;
      margin: 0;
      border-radius: 0;

      &:hover {
        background-color: $primary;
        color: white;
      }
    }

    .add-btn {
      background-color: $primary;
      color: white;
      margin: 0;
      border-radius: 0;
    }

    .push {
      flex-grow: 1;
    }
  }

  .resource-group {
    display: flex;
    flex-wrap: wrap;

    .resource {
      position: relative;
      display: flex;
      height: 200px;
      width: 200px;
      justify-content: center;
      align-items: center;
      margin: 30px 30px 0px 0px;
      background-color: $primary;
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 1rem;

      &:hover,
      &:focus {
        background-color: $primary;
        opacity: 0.9;
        color: white;
      }

      .delete-btn {
        position: absolute;
        top: -18px;
        right: -18px;
        padding: 0;
        height: 36px;
        width: 36px;
        background: transparent;
        color: #c17979;
      }
    }
  }
}
