@import '../../styles/colors.scss';

.add-issue-modal {
  width: 40% !important;
  .header {
    background-color: $primary !important;
    color: white !important;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      i {
        cursor: pointer;
      }
    }
  }

  .content {
    background-color: $mainBackground !important;

    .modal-content {
      flex-direction: column;
      display: flex;

      .date-input {
        width: 80% !important;
      }

      .issue-type {
        margin-bottom: 0 !important;
      }
    }
  }

  .actions {
    padding-top: 0 !important;
    background-color: $mainBackground !important;
    border-top: none !important;
  }
}
