.teams-topics-wrapper {
  width: 100%;
  display: flex;
}

.teams-topics-wrapper .page-svg {
  width: 40%;
}

.teams-topics-wrapper .teams-topics-content {
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teams-topics-wrapper .teams-topics-content .section .page-text {
  font-size: 18px;
  text-align: left;
  line-height: 30px;
  position: relative;
}

.teams-topics-wrapper .teams-topics-content .page-text b {
  font-weight: 600;
}

.teams-topics-wrapper .teams-topics-content .section {
  margin: 16px;
}

.teams-topics-wrapper .teams-topics-content .section .select-group {
  margin-top: 5vh;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.teams-topics-wrapper
  .teams-topics-content
  .section
  .select-group
  .select-item {
  margin: 6px;
}
