@import '../../styles/colors.scss';

.onboard3-wrapper.form {
  margin-top: 12vh;
  display: flex;
  justify-content: center;

  .grid {
    width: 80% !important;

    .top-column {
      padding: 0 !important;
      margin: 0 !important;

      .prompt {
        margin: 20px;
        text-align: center;
        font-size: large;
        margin-bottom: 5vh;
        line-height: 30px;
      }

      .grid {
        margin: auto;
        width: fit-content !important;

        .column {
          padding: 0 !important;
          margin: 0 !important;
          padding-left: 6vw !important;

          .field {
            font-size: large;

            .checkbox {
              padding: 0 !important;
              margin-top: 15px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
