@import '../../styles/colors.scss';

.onboard2-wrapper {
  .header {
    font-size: large;
    text-align: center;
    margin-top: 50px;
  }

  .neighborhood-title {
    width: 40% !important;
  }

  .neighborhood-drop {
    margin-left: 50% !important;
    width: 40% !important;
  }

  .label-header {
    text-decoration: underline;
  }

  .form {
    display: flex;
    justify-content: center;
    margin-top: 15vh;

    .grid {
      width: 80%;

      .column {
        display: flex;
        flex-direction: column;
        width: fit-content;

        img {
          width: 400px;
          margin-right: 20px !important;
          padding: 50px;
        }

        .checkbox-wrapper {
          display: flex;
          justify-content: left;
          width: 100%;
          margin-top: 15px;

          .checkbox {
            padding: 0 !important;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
