@import '../../../styles/colors.scss';

$backgroundColor: gainsboro;

.user-chip-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: $backgroundColor;
  color: black;
  transition: background-color 250ms ease;

  > img {
    border-radius: 50%;
    height: 20px;
  }

  &:hover,
  &:focus {
    background-color: darken($backgroundColor, 5%);
  }

  &:active {
    background-color: darken($backgroundColor, 10%);
  }
}
