.personal-information .page-text {
  width: 100%;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
}

.personal-information .personal-information-wrapper .svg {
  width: 100%;
  margin-top: 50px;
  padding-right: 10%;
}

.personal-information-wrapper {
  height: 100%;
  padding: 16px;
  display: flex;
}

.personal-information-wrapper .personal-information-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.personal-information-wrapper .personal-information-form .section {
  padding: 8px;
  text-align: left;
}
