.races-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.races-wrapper .page-text {
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.races-wrapper .races-content-wrapper {
    margin-top: 20px;
    width: 90%;
}

.races-wrapper .races-content-wrapper .races-svg {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 1%;
}

.races-wrapper .races-content-wrapper .select-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.races-wrapper .races-content-wrapper .select-row-2 {
    display: flex;
    justify-content: center;
}