.page-counter-wrapper {
  display: flex;
  justify-content: center;
}

.page-counter-wrapper .page-icon {
  background: rgb(61, 79, 145, 0.55) !important;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 8px;
}

.page-counter-wrapper .active {
  background: rgb(61, 79, 145, 0.95) !important;
}
