@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.navbar {
  background-color: $primary !important;
  border-top: solid $primary 1px !important;
  border-bottom: solid $mainBackground 10px !important;
  border-radius: 0 !important;
  position: sticky;
  z-index: 1;
  height: $navbarHeight;

  .header {
    margin-left: 20px !important;
  }

  a.item:not(.header) {
    justify-content: center;
    width: 109px !important;
  }

  .item {
    color: white !important;
    padding: 10px !important;

    &.active {
      background-color: $mainBackground !important;
      color: black !important;

      &:hover {
        background-color: $mainBackground !important;
        color: black !important;
      }
    }

    &:hover {
      background-color: $primary !important;
    }
  }

  .item.profile {
    margin-right: 20px !important;

    .item.active {
      background-color: $primary !important;
      color: white !important;
    }

    .welcome-text {
      margin-right: 20px;
    }
  }
}
