@import '../../styles/colors.scss';

.link-display-link {
  display: flex;
  align-items: center;
  color: $secondaryColor;
  font-size: 18px;
  // Margin accounts for rotation
  margin-left: 3px;

  i {
    font-size: 20px;
    transform: rotate(45deg);
    transform-origin: center;
    line-height: 1;
    margin-right: 5px;
  }
}
