.ui.button.add-resource-button {
  font-style: normal;
  font-weight: 520;
  font-size: 15px;
  line-height: 15px;
  color: #f7fafb !important;
  background-color: #3d4f91 !important;
  border-radius: 8.96604px;
  box-shadow: 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25),
    inset 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25);
}

.ui.form.add-resource-wrapper {
  font-size: 18px;
  padding: 30px;
}

.add-resource-wrapper .add-resource-content {
  display: flex;
}

.add-resource-wrapper .add-resource-content .add-resource-inputs {
  display: flex;
  flex-direction: column;
  flex-basis: 67%;
  padding-right: 40px;
}

.add-resource-wrapper .add-resource-content .resource-tags-wrapper {
  display: flex;
  flex-direction: column;
}

.add-resource-wrapper
  .add-resource-content
  .resource-tags-wrapper
  .resource-tag-grid
  .ui.checkbox
  .box:before,
.ui.checkbox label:before {
  background: #c4c4c4;
  border-radius: 1.7289px;
}

.add-resource-wrapper
  .add-resource-content
  .resource-tags-wrapper
  .resource-tag-grid
  .ui.checkbox
  .box:hover::before,
.ui.checkbox label:hover::before {
  background: #c4c4c4;
  border-radius: 1.7289px;
}

.add-resource-wrapper
  .add-resource-content
  .resource-tags-wrapper
  .resource-tag-grid
  .ui.checkbox
  input:checked
  ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  background: #c4c4c4;
  border-radius: 1.7289px;
}

.add-resource-wrapper
  .add-resource-content
  .resource-tags-wrapper
  .resource-tag-grid
  .ui.checkbox
  label {
  color: #f7fafb;
}

.add-resource-wrapper
  .add-resource-content
  .resource-tags-wrapper
  .resource-tag-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  grid-row-gap: 20px;
  padding-top: 20px;
}

.add-resource-wrapper
  .add-resource-content
  .add-resource-inputs
  .edit-resource-label {
  padding-top: 8px;
}

.ui.form.add-resource-wrapper .field .ui.input input {
  border-radius: 1rem;
  background: #f7fafb;
  opacity: 0.75;
}

.ui.modal.add-resource-modal {
  box-shadow: 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25),
    inset 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25);
  border-radius: 10.3003px;
}

.ui.modal.add-resource-modal > .actions {
  text-align: left;
  background: #3d4f91;
  color: #f7fafb;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.modal-add-button {
  text-align: center;
  padding-top: 40px;
}

.modal-add-button .ui.button {
  font-style: normal;
  font-weight: 600;
  font-size: 18.0594px;
  line-height: 15px;
  color: #f7fafb;
  background: #8cb076;
  border-radius: 6.88302px;
}
