.directory-wrapper .directory-content {
    width: 85%;
    float: right;
    margin-top: 20px;
}

.directory-wrapper .directory-content .filters {
    width: 90%;
    display: flex;
    align-items: center;
}

.directory-wrapper .directory-content .directory-search {
    width: 60% !important;
}

.directory-wrapper .directory-content .directory-search .input {
    width: 100% !important;
    border: 1rem;
}

.directory-wrapper .directory-content .directory-search .input .prompt {
    background-color: rgba(61, 79, 145, 0.45) !important;
}

.directory-wrapper .directory-content .directory {
    width: 90%;
}

.directory-wrapper .directory-content .directory .result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(61, 79, 145, 0.75);
    border-radius: 1rem;
    color: white;
    padding: 5px 20px 5px 20px;
}

.directory-wrapper .directory-content .directory .result .profile-picture {
    width: 50px;
}

.directory-wrapper .directory-content .directory .result .text {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.directory-wrapper .directory-content .directory .result .name {
    flex-grow: 1;
}