.custom-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: #3d4f91;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 1rem 1rem 0 0;
}

.custom-dropdown .text {
  margin-right: 100px;
}

.custom-dropdown .menu {
  background-color: white;
}

.custom-dropdown .menu .item {
  margin: 10px !important;
  border: 2.04459px solid rgba(61, 79, 145, 0.65) !important;
  border-radius: 3rem;
  text-align: center !important;
}

.custom-dropdown .menu .item .text {
  text-align: center;
  margin: auto;
}

.custom-dropdown .menu .item.selected {
  background: rgba(61, 79, 145, 0.65) !important;
  border: 1px solid rgba(61, 79, 145, 0.65) !important;
  font-weight: normal !important;
}
