.pitches-wrapper {
  margin-top: 50px;
}

.pitches-wrapper .pitch-status-btn {
  margin: 0px 10px 0px 10px !important;
  border-radius: 1rem !important;
  background-color: white;
  color: black;
  border: solid black !important;
}

.pitches-wrapper .pitch-status-btn.active {
  background-color: #3d4f91 !important;
  border-color: #3d4f91 !important;
  color: white !important;
}

.pitches-wrapper .search {
  width: 50%;
}

.pitches-wrapper .search input {
  background-color: rgba(61, 79, 145, 0.45);
}

.pitches-wrapper .search input:focus {
  background-color: rgba(61, 79, 145, 0.45);
}
