/*.body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 280px;
}

@media only screen and (max-width: 600px) {
    .body {
        margin-left: 140px;
    }
}

.header {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.sub-heading {
    margin-top: 24px;
    color: #464c76;
}

.section-title {
    margin-left: 32px;
    margin-bottom: 16px;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

@media only screen and (max-width: 1400px) {
    .section-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .section-grid {
        grid-template-columns: 1fr;
    }
}*/

.logo-header {
    text-align: center;
}

.logo-header .logo {
    width: 60%;
    /*height: 20%;*/
    margin: 2%;
}