.content {
  background-color: #3d4f91 !important;
  color: white;
}

.user-information {
  margin: 20px 0px 20px 0px !important;
  text-transform: capitalize !important;
  font-weight: normal;
}

.user-information.name {
  font-size: xx-large;
}

.user-information.role {
  font-size: x-large;
}

.user-information.email {
  text-transform: lowercase !important;
}

.content .profile-button {
  margin-top: 20px !important;
  background-color: #3b3f4c !important;
  color: white !important;
}

.content .list-header {
  font-weight: normal !important;
}

.modal-label {
  border-radius: 1rem;
  color: black;
  padding: 0px 2px 0px 2px;
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-size: large;
  text-transform: capitalize;
}
