@import '../../styles/colors.scss';

.loading-modal {
  background: none !important;
  box-shadow: none !important;

  .content {
    background: none !important;

    .spinner {
      display: flex;
      justify-content: center;
    }
  }
}
