.directory-table {
  position: relative;

  ::-webkit-scrollbar {
    display: none;
  }

  td,
  th {
    border-left: none !important;
  }

  tbody {
    display: block;
    height: max-content;
    max-height: 60vh;
    overflow: auto;

    .picture-col {
      #user-picture {
        width: 25px;
        margin: auto;
      }
    }

    .name-col {
      display: flex;
      align-items: center;

      #name-text {
        margin-left: 8px;
      }
    }

    .no-results-found {
      padding: 50px;
    }

    .open-user-button {
      background: none;

      &:hover {
        background: none;
      }
    }
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
