@import '../../../styles/colors.scss';

.review-user-modal {
  .header {
    background-color: $primary !important;
    color: white !important;
  }
  .column {
    line-height: 2;
  }
  .user-info {
    display: flex;
    align-items: center;
    line-height: 1;
    .user-info-text {
      display: flex;
      flex-direction: column;
    }
  }
  .icon {
    margin-right: 10px;
  }
  .paragraph {
    margin-bottom: 20px;
  }
  .review-user-picture {
    width: 12% !important;
    margin-right: 15px;
  }

  .input {
    width: 100%;
  }

  .team-tag,
  .interest-tag {
    margin-right: 5px !important;
  }

  .review-user-actions {
    margin-top: 20px;

    .decline-button {
      background-color: transparent;
      border: 1px solid darkgray;
      color: darkgray;
      float: right;
      margin-bottom: 30px;
    }
    .approve-button {
      background-color: $secondaryColor !important;
      color: white !important;
      float: right;
    }
  }
}
