@import '../styles/colors.scss';

.page-wrapper {
  .page-wrapper-header {
    padding: 0px 2% 0px 2%;
    margin-bottom: 10px;
  }

  .top-filters {
    display: flex;
    align-items: left;
    margin-top: 20px;
    margin-right: 30%;
    .wrapper {
      margin: 0px 20px 0px 20px;
      flex-grow: 1;
    }
    .input {
      flex-grow: 3;
    }
  }
  .bottom-filters {
    display: flex;
    align-items: left;
    margin-top: 20px;
    margin-right: 10%;

    .wrapper {
      margin: 0px 20px 0px 20px;
      flex-grow: 1;
    }
  }
}
