.review-claim-page {
  .content {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;

    .form-content {
      display: flex;
      flex-direction: column;
      width: 57%;
      row-gap: 10px;

      .feedback-label {
        background-color: transparent !important;
        color: black !important;
      }
    }

    .card-content {
      width: 40%;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
}
