@import '../../../styles/colors.scss';

.onboard5-wrapper {
  .prompt {
    margin-top: 50px;
    text-align: center;
    font-size: large;
    line-height: 30px;
  }

  .form {
    margin-top: -5vh;
  }
}
