@import '../../styles/colors.scss';

.feedback-container {
  background-color: $feedback !important;
  border-radius: 5px;
  padding: 2%;
  .open-link {
    color: $darkgrey !important;
  }
  .staff-name {
    font-weight: bold !important;
  }
  .publish-date {
    color: $darkgrey !important;
    margin-top: 1%;
  }
  .rating {
    padding: 0 !important;
    margin: 0 !important;
  }
  .reasoning {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .relevant {
    font-size: 80%;
    color: $darkgrey;
    margin-bottom: 1% !important;
  }
  .pitch {
    color: $darkgrey;
  }
}
