@import '../../../styles/colors.scss';

.view-pitch {
  .header {
    background-color: $primary !important;
    color: white !important;
  }

  .teams-section {
    display: flex;

    .team {
      margin-right: 20px;
      h3 {
        font-weight: normal;
      }
    }
  }
}
