@import '../../styles/colors.scss';

.approve-claim-card {
  background-color: white;
  border-radius: 5px;
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  //row-gap: 15px;

  .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 7px;

    p {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }

    i {
      //margin-bottom: 0 !important;
      margin-top: 0 !important;
      align-self: center !important;
      margin-left: 6px;
    }

    .target-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center !important;
      .target-text {
        display: flex;
        flex-direction: row;
        align-items: center !important;
        //justify-self: stretch !important;

        .target-input {
          //display: inline !important;
          width: 40px !important;
          //width: fit-content !important;
          margin: 0 5px 0 5px;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
          //padding: 0 !important;

          input {
            padding-left: 0 !important;
            padding-right: 0 !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
            text-align: center;
          }
        }
      }
    }
  }

  .header-divider {
    margin-top: 12px;
    color: black;
    width: 100%;
    //border: 9px;
  }

  .select-contributor-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    margin-bottom: 1rem !important;

    .select-contributor {
      width: auto !important;
    }

    .positive {
      background-color: black !important;
      color: white !important;
      border: 1px solid black !important;
    }

    .negative {
      background-color: white !important;
      color: black !important;
      border: 1px solid black !important;
    }
  }

  .add-contributor {
    color: $secondaryColor;
    background-color: transparent !important;
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 1rem !important;
  }

  .claim-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    .claim-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center !important;

      .feedback-button {
        background-color: transparent !important;
        font-weight: 600 !important;
        color: $secondaryColor !important;
      }

      .button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .button {
          margin: 0px 0px 0px 20px !important;
        }

        .positive {
          background-color: $secondaryColor !important;
        }

        .negative {
          background-color: transparent !important;
          border: 1px solid $secondaryColor !important;
          color: $secondaryColor !important;
        }
      }

      .dropdown-trash {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        align-items: center;

        .select-editor-type {
          //background-color: blue !important;
          width: 150px !important;
        }

        .disabled-trash &:hover {
          cursor: not-allowed !important;
          border: solid blue 10px !important;
        }
      }
    }
  }
}
