@import '../../../styles/colors.scss';

.feedback-modal {
  .header {
    background-color: $primary !important;
    color: white !important;
    .close-icon {
      float: right;
    }
  }
  .content {
    .line {
      margin-bottom: 10px;
      .team-field-tags {
        margin-left: 10px;
      }
      .user-chip-wrapper {
        padding: 7.3px;
        margin-right: 5px;
      }
    }
    .input-feedback {
      width: 100%;
    }
    .actions {
      margin-bottom: 20px;
      .button {
        background-color: $secondaryColor !important;
        color: white !important;
        float: right;
        margin-bottom: 10px;
      }
    }
  }
}
