#resource-form {
  .form-wrapper {
    .row {
      display: flex;
      margin-bottom: 10px;

      #vis-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        .form-field {
          margin-right: 10%;
        }
      }
    }
  }
}
