@import '../../styles/colors.scss';

#review-claim-form {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: white;
  padding: 20px 20px 20px 15px;
  height: fit-content;
  border-radius: 5px;
  position: relative;

  .edit-button {
    color: $secondaryColor !important;
    margin: 0 !important;
    align-items: center !important;
    background-color: transparent !important;
    position: absolute;
    right: 0px;
    padding-right: inherit;
  }

  .form-wrapper {
    .row {
      display: flex;
      margin-bottom: 10px;
      flex-direction: row;
      //justify-content: flex-start;

      .issue-item {
        margin-bottom: 0 !important;
      }

      .form-label {
        font-weight: bold;
        margin-right: 10px !important;
      }

      .left-col {
        width: 50%;
        float: left;
        padding-right: 10px;
        position: relative !important;
      }

      .right-col {
        width: 50%;
        float: right;
        padding-left: 10px;
        position: relative;
      }
    }

    .column {
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 10px;
      position: relative !important;
    }

    .issue-column {
      display: flex;
      margin-bottom: 10px;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 10px;
      position: relative !important;
      width: 70%;
    }

    .right {
      justify-content: flex-end !important;
    }

    .issue-type-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .text {
        min-width: fit-content;
        width: 40%;
      }

      .select {
        width: 50%;
      }
    }

    .issue-text-tag {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 90%;
    }
  }
  #add-issue {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: inherit;
    padding-top: inherit;
    background-color: transparent;
    //top: -0.33571429rem !important;
    color: $secondaryColor;
    line-height: 1.4285em !important;
  }
}
