.pitch-card-wrapper .ui.card.pitch-card {
  background-color: rgba(61, 79, 145, 0.75);
  box-shadow: 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25),
    inset 0px 3.31765px 3.31765px rgba(105, 91, 91, 0.25);
  border-radius: 9.95294px;
  width: 25rem;
  margin-bottom: 2rem;
}

.pitch-card-wrapper .ui.circular.labels .label {
  width: 28% !important;
  font-size: 10px !important;
  font-weight: bold !important;
}

.pitch-card-wrapper .ui.card.pitch-card:hover {
  background-color: rgb(21 48 146 / 75%) !important;
}

.pitch-card-wrapper .ui.card > .content > .header,
.ui.card > .content > .description {
  color: #f7fafb;
  text-shadow: 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25);
}
