@import '../../styles/colors.scss';

.pitch-card {
  position: relative;
  color: black !important;
  width: 350px !important;
  height: 150px !important;
  margin: 10px !important;

  border-bottom: solid #87ceeb 8px !important;

  &:hover {
    border-bottom: solid #87ceeb 8px !important;
  }

  .topics {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;

    .topic {
      width: fit-content;
      margin-bottom: 5px;
    }
  }
}
