.ui.modals {
  justify-content: center !important;
}

.ui.modal.claim-pitch-modal {
  background: #3d4f91;
  box-shadow: 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25),
    inset 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25);
  border-radius: 10.3003px;
  width: 60%;
}

.ui.modal.claim-pitch-modal > .actions {
  padding: 0px !important;
  text-align: left;
  background: #3d4f91;
  color: #f7fafb;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.claim-pitches-wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.claim-pitches-wrapper .pitch-info .topics-wrapper .ui.circular.labels .label {
  width: 15% !important;
  font-size: 10px !important;
  font-weight: 100 !important;
}

.claim-pitches-wrapper .pitch-info .pitch-name {
  height: 49.78470230102539px;
  width: 632.6090698242188px;
  font-size: 41.2011px;
  line-height: 50px;
  font-weight: 600;
}

.claim-pitches-wrapper .pitch-info .pitch-info-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 100;
  margin-right: 10px;
  margin-bottom: 10px;
}

.claim-pitches-wrapper .pitch-info .pitch-info-title a {
  color: #7fbbf7;
}

.claim-pitches-wrapper .pitch-description {
  font-size: 13px;
  line-height: 19px;
  font-weight: normal;
  letter-spacing: 0em;
  margin-top: 7px;
  margin-bottom: 7px;
}

.claim-pitches-wrapper .section-description {
  font-size: 13px;
  line-height: 19px;
  font-weight: normal;
  letter-spacing: 0em;
}

.claim-pitches-wrapper .pitch-link .pitch-link-input {
  width: 60% !important;
  height: 35px !important;
  background: #f7fafb !important;
  opacity: 0.75 !important;
  border-radius: 100.9355px !important;
}

.claim-pitches-wrapper .role-contributor-section {
  display: flex;
  padding-top: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.claim-pitches-wrapper .role-contributor-section .section-title {
  font-size: 21px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 0em;
}

.claim-pitches-wrapper .role-contributor-section .role-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}

.claim-pitches-wrapper .role-contributor-section .role-item {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-right: 10px;
  margin-bottom: 20px;
}

.claim-pitches-wrapper .role-contributor-section .role-item .ui.circular.label {
  width: 100px !important;
  font-size: 11px !important;
  font-weight: 100 !important;
}

.claim-pitches-wrapper
  .role-contributor-section
  .role-items
  .role-item
  .role-number {
  font-size: 30px;
  margin-top: 10px;
}

.claim-pitches-wrapper .role-contributor-section .pitch-contributors {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.claim-pitches-wrapper .role-contributor-section .pitch-contributors .pfp {
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.modal-submit-button {
  padding-top: 5px;
  text-align: center;
}

.modal-submit-button .ui.button {
  font-style: normal;
  font-weight: 600;
  font-size: 18.0594px;
  line-height: 15px;
  color: #f7fafb;
  background: #8cb076;
  border-radius: 6.88302px;
}

.success-wrapper {
  padding-left: 20px;
  padding-top: 20px;
}

.success-wrapper .text {
  font-size: 30.9009px;
  line-height: 38px;
}

.success-wrapper .image {
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
