body {
  position: relative;
  font: Proxima Nova !important;
}

.logo-header {
  text-align: center;
}

.logo-header .logo {
  width: 45%;
  margin: 2%;
}

.content-wrapper {
  padding-left: 220px;
}

.pitchdoc-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: #3b3f4c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.content-wrapper .buttons-section {
  text-align: center;
  padding-right: 150px;
}

.content-wrapper .admin-pitch-btn {
  font-style: normal;
  font-weight: 520;
  font-size: 15px;
  line-height: 15px;
  color: #f7fafb;
  background: #3d4f91;
  border-radius: 8.96604px;
  box-shadow: 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25),
    inset 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25);
  height: 75%;
  margin-top: 1.8rem;
  margin-right: 30px;
}

.content-wrapper .container {
  display: flex;
  flex-wrap: wrap;
}

.search-bar {
  margin: 2rem;
  margin-left: 4rem;
}

.search-bar .ui.input > input {
  width: 50rem;
  border-radius: 8.482587814331055px;
  background-color: rgba(61, 79, 145, 0.45);
  border-radius: 8.48259px;
}

.content-wrapper .top-section .filter-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.content-wrapper .top-section .filter-section .filter-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #3b3f4c;
}

.content-wrapper .top-section .filter-section .ui.dropdown {
  padding-left: 200px;
  border-radius: 8.4px;
}

.content-wrapper .pitch-grid {
  padding-top: 20px;
}

.submit-search-section {
  display: flex;
  justify-content: center;
}
