body {
  position: relative;
  font: Proxima Nova !important;
}

.logo-header {
  text-align: center;
}

.logo-header .logo {
  width: 45%;
  margin: 2%;
}

.content-wrapper {
  padding-left: 220px;
}

.pitchdoc-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: #3b3f4c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.content-wrapper .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.submit-search-section {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-top: 1.8rem;
  width: 90%;
}

.submit-search-section .pitch-search {
  width: 70% !important;
  margin-left: 6%;
}

.submit-search-section .pitch-search .input {
  width: 100% !important;
}

.submit-search-section .pitch-search .input input {
  background: rgba(61, 79, 145, 0.45) !important;
  border-radius: 1rem !important;
}

.content-wrapper .top-section .filters {
  width: 90%;
  display: flex;
  align-items: center;
}

.custom-dropdown {
  display: flex;
  justify-content: space-between;
  background-color: #3d4f91;
  color: white;
  margin: 20px;
  padding: 10px;
  border-radius: 1rem 1rem 0 0;
  max-width: 300px;
}

.custom-dropdown .text {
  width: 120px;
}

.custom-dropdown .menu {
  background-color: white;
}

.custom-dropdown .menu .item {
  margin: 10px !important;
  border: 2.04459px solid rgba(61, 79, 145, 0.65) !important;
  border-radius: 3rem;
  text-align: center !important;
}

.custom-dropdown .menu .item .text {
  text-align: center;
  margin: auto;
  padding: 0;
  margin: 0;
}

.content-wrapper .top-section .filter-section .filter-text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #3b3f4c;
}

.content-wrapper .top-section .filter-section .ui.dropdown {
  padding-left: 200px;
  border-radius: 8.4px;
}

.content-wrapper .pitch-grid {
  padding-top: 20px;
}

.submit-search-section {
  display: flex;
  justify-content: center;
}
