.ui.button.submit-pitch-button {
  font-style: normal;
  font-weight: 520;
  font-size: 15px;
  line-height: 15px;
  color: #f7fafb;
  background: #3d4f91;
  border-radius: 8.96604px;
  box-shadow: 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25),
    inset 0px 3.31765px 3.31765px rgba(0, 0, 0, 0.25);
  height: 75%;
  margin-top: 1.8rem;
}

.ui.modal.submit-pitch-modal {
  background: #3d4f91;
  box-shadow: 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25),
    inset 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25);
  border-radius: 10.3003px;
  width: 60%;
}

.ui.modal.submit-pitch-modal > .actions {
  padding: 0px !important;
  text-align: left;
  background: #3d4f91;
  color: #f7fafb;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.suggested-text {
  padding-left: 500px;
}

.submit-pitch-wrapper {
  color: white !important;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  padding-top: 20px;
}
.submit-pitch-wrapper .header .title {
  font-size: 34px;
  line-height: 34px;
  margin: 0 0 0.8rem;
}

.submit-pitch-wrapper .header .description {
  color: white;
  margin: 0 0 0.8rem;
}

.submit-pitch-wrapper .form-section .checkbox-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.submit-pitch-wrapper .form-section .checkbox-section .item {
  margin-right: 13px;
  margin-bottom: 15px;
}

.submit-pitch-wrapper .form-section .checkbox-section .ui.checkbox label {
  color: white !important;
  padding-left: 1.6em !important;
}

.form-section .input-section .disclosure-title {
  font-weight: 600;
}
.gdrive-teams-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.gdrive-teams-container .teams-section {
  padding-left: 20px;
  display: flex;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.modal-submit-button .ui.button {
  font-style: normal;
  font-weight: 600;
  font-size: 18.0594px;
  line-height: 15px;
  color: #f7fafb;
  background: #8cb076;
  border-radius: 6.88302px;
}

.radio-buttons {
  justify-content: center !important;
  align-items: center !important;
}

.radio-buttons .fields {
  margin: 0px !important;
}

.top-row {
  padding-bottom: 0px !important;
}
.bottom-row {
  padding-top: 0px !important;
}

.yes-radio {
  padding-left: 0px !important;
}

.submit-button {
  background-color: #8cb076 !important;
  color: white !important;
}

.submit-pitch-form label {
  color: white !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.submit-pitch-form input,
textarea {
  background-color: #f7fafb !important;
  opacity: 0.75;
}

.ui.modal.submit-pitch-success {
  background: #3d4f91;
  box-shadow: 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25),
    inset 0px 3.43343px 3.43343px rgba(0, 0, 0, 0.25);
  border-radius: 10.3003px;
  width: 60%;
}

.ui.modal.submit-pitch-success > .actions {
  padding: 0px !important;
  text-align: left;
  background: #3d4f91;
  color: #f7fafb;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.submit-pitch-success .success-wrapper {
  padding: 80px;
}
