.list-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-title {
  font-weight: 600;
  color: #3d4f91;
  border-bottom: 2px solid #3d4f91;
  font-size: 1.2em;
  padding: 0px 2px 2px 2px;
  margin-bottom: 15px;
  width: fit-content;
  height: fit-content;
}
