.home-wrapper {
  position: relative;
  text-align: center;
  height: 100vh;
}

.home-wrapper .btn-group .btn-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto;
  width: 45%;
}

.home-wrapper .btn-group .btn-wrapper .btn {
  margin: 20px 0px 20px 0px;
  padding: 20px 5px 20px 5px;
  font-size: 36px;
  align-items: center;
  border-radius: 1rem;
  background-color: #334a86;
  color: white;
  width: 100%;
}

.home-wrapper .btn-group .btn-wrapper .btn:hover {
  background-color: #2c4b9b;
  color: white;
}
