@import '../../styles/colors.scss';

.homepage-wrapper {
  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .tab-menu {
    .active {
      background-color: $primary !important;
      color: white !important;
    }
  }

  .filters-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }
}
