@import '../../styles/colors.scss';

.homepage-wrapper {
  .tab-menu {
    .active {
      background-color: $primary !important;
      color: white !important;
    }
  }

  .filters-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;

    .filter-dropdown {
      min-width: 14em;
    }
  }
}
