@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.page-wrapper {
  min-height: 100vh;
  height: fit-content;

  .page-content {
    margin: auto;
    width: 90%;

    &.space {
      margin-top: $navbarContentSpace;
    }
  }
}
