@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

$innerWidth: 3vw;

.page-wrapper {
  min-height: 100vh;
  height: fit-content;

  .page-content {

    .page-header-content {
      width: 90%;
    }

    .page-inner-content {
      padding-top: 20px;
      padding-left: $innerWidth;
      padding-right: $innerWidth;
      background-color: white !important;
    }

    &.space {
      margin-top: 15px;
    }
  }
}
