.kanban-pitch {
  width: 100%;
  max-width: 500px;
  background-color: #f6f7fb !important;
  height: fit-content !important;
  margin: 10px 0px 10px 0px !important;
  padding: 10px 2px 10px 2px !important;
}
