@import '../../styles/colors.scss';

.pitch-doc-wrapper {
  .pitch-doc-header {
    padding: 0px 2% 0px 2%;
  }
  .search-add-wrapper {
    position: relative;
    display: flex;

    .input {
      flex-grow: 1 !important;
    }

    .button {
      margin-left: 100px !important;
    }
  }

  .tab-menu {
    &.secondary.pointing.menu {
      border-bottom: 0px;

      .active.item {
        border-bottom: 4px solid;
        border-color: $secondaryColor;

        &:hover {
          border-bottom: 4px solid;
          border-color: $secondaryColor;
        }
      }
      .item {
        border-bottom-width: auto;
        padding-inline: 3em;

        &.right {
          padding-inline: 0px;
        }
      }
    }
  }

  .filters {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .wrapper {
      margin: 0px 30px 0px 30px;
      width: 200px;
    }
  }

  .pitch-doc {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
