@import '../../../styles/colors.scss';
$width: 25px;
$height: 25px;
$inputLength: 200px;
$leftmargin: 50px;

.open-edit-button {
  background: none !important;
  padding: 0px !important;
  padding-left: 10px !important;
}

.tags-modal {
  .header {
    background-color: $primary !important;
    color: white !important;
  }

  .actions {
    margin-top: 30px;
    text-align: right;
    background-color: white !important;
    border-top: none !important;

    .save-button {
      background-color: #5a72e1;
      color: white;
    }
  }

  .content {
    margin-top: 20px;
    .lines {
      display: flex;
      margin-bottom: 17px;
      margin-left: $leftmargin;
      align-items: center;

      .icon {
        color: gray;
        margin-left: 10px;
      }
    }
    .color-pick {
      width: $width;
      height: $height;
      overflow: hidden;
      border-radius: 100%;
      display: inline-block;
      text-align: center;
      margin-right: 10px;
      border: 1px solid rgb(163, 163, 163);
    }
    input[type='color'] {
      width: $width + 10;
      height: $height + 10;
      background: #ffffff 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 6px #0000001a;
      transform: scale(2);
    }
    .ui.input {
      display: inline-block;

      input[type='text'] {
        border-radius: 5px;
        border: 1px solid rgb(163, 163, 163);
        width: 218px;
        height: 31px;
      }
    }
    .addvalue {
      display: flex;
      margin-top: 17px;
      margin-left: $leftmargin - 15;
      align-items: center;
      color: gray;
      border: none;
      background-color: transparent;
      font-weight: lighter;
    }
  }
}
