@import '../../../styles/colors.scss';

.approve-pitch-modal {
  .review-pitch-content {
    background-color: $mainBackground !important;
  }
  .review-pitch-header {
    background-color: $primary !important;
    color: white !important;
  }

  .form-label {
    font-weight: bold !important;
    font-size: 0.92857143em !important;
    margin: 0 1rem 0.33571429rem 0 !important;
  }

  #row {
    margin-bottom: 0 !important;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    margin-bottom: 0 !important;
    margin-right: 10px;
  }

  .description {
    line-height: 1.7rem;
  }

  .content {
    .ui.form .fields {
      margin: 0 0 1.5em !important;
    }
    .pitch-author-section {
      margin-bottom: 1rem;
      flex-direction: row;
      display: flex;
      align-items: flex-end;
    }

    .topics-section {
      display: flex;
      flex-direction: row;
      margin-bottom: 0.53571429rem !important;
      margin-top: 0.33571429rem !important;
    }

    /* .neighborhood-dropdown {
      margin: 0 0 1em !important;
    } */

    .team-select-group {
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-right: 20px;

        .team-input {
          padding: 0 !important;
        }

        .field {
          // https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input {
            margin-top: 10px;
            text-align: center;
            //width: 100% !important;
            width: 45px !important;
            height: 45px !important;
          }
        }
      }
    }

    .writer-editors-section {
      width: 80% !important;
      display: flex;
      justify-content: row;
      column-gap: 1em;

      .writer-column {
        width: 40%;
      }

      .editors-column {
        width: 60%;
      }
    }

    .issues-section {
      width: 70% !important;
      display: flex;
      flex-direction: row;
      column-gap: 1em;
      justify-content: flex-start;

      //background-color: red !important;

      .deadline-column {
        width: 40% !important;
      }

      .issues-column {
        width: 80% !important;
        position: relative;

        .add-issue {
          position: absolute;
          right: 0;
          padding-right: inherit;
          background-color: transparent;
          top: -0.33571429rem !important;
          color: $secondaryColor;
        }

        .issue-select {
          width: 100% !important;
        }
      }
    }

    .editor-select {
      margin-bottom: 5px;
    }
  }

  .actions {
    border-top: none !important;
    background-color: $mainBackground !important;
    text-align: right;
    padding: 20px 0px 10px 0px !important;

    .button {
      margin: 0px 0px 0px 20px !important;
    }

    .positive {
      background-color: $secondaryColor !important;
    }

    .negative {
      background-color: transparent !important;
      border: 1px solid $secondaryColor !important;
      color: $secondaryColor !important;
    }
  }
}

mark.optional {
  color: #9b9b9b;
  background-color: transparent !important;
  font-weight: lighter !important;
}
