@import '../../../styles/colors.scss';

.approve-pitch-modal {
  .content {
    background-color: #f6f7fb !important;
  }
  .header {
    background-color: $primary !important;
    color: white !important;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .title {
    margin-bottom: 0 !important;
    margin-right: 10px;
  }

  .content {
    .author-section {
      display: flex;

      .author {
        margin-right: 20px;
        h3 {
          font-weight: normal;
        }
      }
    }

    .description {
      margin-top: 20px;
    }

    .topics-section {
      margin-bottom: 8px;
      display: flex;
      flex-direction: row;
    }

    .team-select-group {
      /* display: flex;
      justify-content: flex-start; */

      .input-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //min-width: 10px;

        .field {
          //padding: 0 !important;
          width: '80%';

          // https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  .actions {
    border-top: none !important;
    background-color: white !important;
    text-align: right;
    padding: 10px !important;

    .button {
      margin: 0px 20px 20px 0px !important;
    }
  }
}
