@import '../../styles/colors.scss';

.field-tag-label {
  font-weight: normal !important;
  padding: 5px 10px 5px 10px;
  border-radius: 0.3rem !important;
  transition: none !important;
  margin-bottom: 2px !important;
}

.admin-tag-color {
  background-color: $tagRed !important;
}

.pronouns-tag-color {
  background-color: $pronouns !important;
}

.staff-tag-color {
  background-color: $tagOrange !important;
}

.contributor-tag-color {
  background-color: $tagGreen !important;
}

.onboarded-tag-color {
  background-color: $tagGreen !important;
}

.onboarding-scheduled-tag-color {
  background-color: $tagPurple !important;
}

.no-show-tag-color {
  background-color: $noShow !important;
}

.denied-tag-color {
  background-color: $tagRed !important;
}

.recently-active-tag-color {
  background-color: $tagGreen !important;
}

.published-tag-color {
  background-color: $published !important;
}

.in-progress-tag-color {
  background-color: $inprogress !important;
}

.active-tag-color {
  background-color: $tagBlue !important;
}

.inactive-tag-color,
.stalled-tag-color {
  background-color: $tagYellow !important;
}

.public-tag-color {
  background-color: $tagGreen !important;
}

.private-tag-color {
  background-color: $tagRed !important;
}

.pending-tag-color,
.pending-review-tag-color {
  background-color: $tagYellow !important;
}

.approved-tag-color,
.approved-review-tag-color {
  background-color: $approved !important;
}

.declined-tag-color,
.declined-review-tag-color {
  background-color: $declined !important;
}

.maybe-in-tag-color {
  background-color: $maybeIn !important;
}

.definitely-in-tag-color {
  background-color: $definitelyIn !important;
}

.in-edits-tag-color {
  background-color: $inEdits !important;
}

.ready-to-publish-tag-color,
.writer-on-story-tag-color {
  background-color: $readyToPublish !important;
}

.writer-needed-tag-color,
.primary-editor-needed-tag-color {
  background-color: $push !important;
}

.push-tag-color {
  background-color: $tagPurple !important;
}

.abandoned-tag-color,
.in-progress-tag-color,
.completed-tag-color,
.unclaimed-tag-color,
.none-tag-color {
  background-color: $inprogress !important ;
}

.default-btn {
  background-color: $secondaryColor !important;
  color: white !important;

  &:hover,
  :focus {
    background-color: $secondaryColor !important;
    color: white !important;
    opacity: 0.9;
  }
}

.writer-needed-tag-color {
  background-color: $tagRed !important;
}

.\31st-needed-tag-color {
  background-color: $tagRed !important;
}

.\31st-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.\32nds-needed-tag-color {
  background-color: $tagRed !important;
}

.\32nds-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.fact-checking-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.\33rds-needed-tag-color {
  background-color: $tagRed !important;
}

.\33rds-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.ready-to-publish-tag-color {
  background-color: $tagGreen !important;
}

.dropped-tag-color {
  background-color: $tagPurple !important;
}

.translation-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.coming-late-tag-color {
  background-color: $tagOrange !important;
}

// Fact Checking Status Colors

.needs-fc-tag-color {
  background-color: $tagRed !important;
}

.fc-in-progress-tag-color {
  background-color: $tagYellow !important;
}

.fc-done-tag-color {
  background-color: $tagGreen !important;
}

.not-integrated-tag-color {
  background-color: $tagOrange !important;
}

.fc-integrated-tag-color {
  background-color: $tagBlue !important;
}

// Visuals Status Colors

.unassigned-tag-color {
  background-color: $tagRed !important;
}

.re-use-illustration-tag-color {
  background-color: $tagBlue !important;
}

.in-drive-tag-color {
  background-color: $tagGreen !important;
}

.uncertain-tag-color {
  background-color: $tagOrange !important;
}

// Layout Status Colors

.layout-drafted-tag-color {
  background-color: $tagYellow !important;
}

.copy-placed-tag-color {
  background-color: $tagOrange !important;
}

.visuals-placed-tag-color {
  background-color: $tagBlue !important;
}

.board-printed-tag-color {
  background-color: $tagPurple !important;
}

.finalized-tag-color {
  background-color: $tagGreen !important;
}
