.profile-page {
  .edit-profile-btn {
    color: white !important;
    background-color: black !important;
    margin-top: 5% !important;
  }

  .tag-spacing {
    margin-top: 2%;
  }

  .user-role {
    margin-top: 3%;
  }

  .edit-mode-btn {
    margin: 10px 5px 10px 5px !important;
  }

  .field-label {
    margin: auto;
    margin-top: 5% !important;
    width: 65%;
  }

  .profile-pic-col {
    display: flex !important;
    text-align: left;
  }

  .user-pic {
    margin-right: 3%;
  }

  .name-pronouns {
    .name {
      font-weight: 700;
    }
    .pronouns {
      font-weight: 400;
      text-align: left;
    }
  }

  .registration {
    margin-top: 10% !important;
    color: #575757;
  }

  .rating {
    display: flex;
    margin-top: 3%;
    .number-ratings {
      margin-top: 2%;
      margin-left: 2%;
      font-size: 12px;
    }
  }

  .experience {
    padding: 5% !important;
  }
}
