.edit-button {
  padding: 5px;
}

#approve {
  background-color: #5a72e1;
}

.actions {
  display: flex;
  justify-content: space-between;
}

tbody {
  display: block;
  height: max-content;
  max-height: 60vh;
  overflow: auto;

  .picture-col {
    #user-picture {
      width: 25px;
      margin: auto;
    }
  }

  .name-col {
    display: flex;
    align-items: center;

    #name-text {
      margin-left: 8px;
    }
  }

  .no-results-found {
    padding: 50px;
  }

  .open-user-button {
    background: none !important;

    &:hover {
      background: none;
    }
  }
}
