@import '../../../styles/colors.scss';

.dynamic-table {
  tr td,
  tr th {
    border-right: none !important;
    border-left: none !important;
  }
  .selectable {
    &:hover {
      background-color: darken(white, 10%);
      cursor: pointer;
    }
  }
}
