// General color pallet
$primary: #3d4f91;

// Defines all of the label colors used throughout the project
// for each interest and teach
$editing: #d98e8e;
$writing: #e4b28e;
$visuals: #98b9d7;
$photography: #98b9d7;
$illustration: #e38fad;
$factChecking: #93bfc1;
$fun: #f2f492;
$cannabis: #b6e8a4;
$health: #99f7c4;
$music: #b298dc;
$nature: #c1f2aa;
$politics: #ccaa8a;
$housing: #d3ec8e;
$visualArts: #b4edd8;
$immigration: #efdea3;
$foodAndLand: #ebbfbf;
$transportation: #e9ffcd;
$stageAndScreen: #e4baf2;
$lit: #a0aef8;
$education: #afe4f0;
