// General color pallet
$primary: black;
$secondaryColor: #5a72e1;
$mainBackground: #f6f7fb;
$pronouns: #d3e6e9;
$admin: #ffe9e7;
$staff: #ffece4;
$contributor: #e9f4e7;
$onboarded: #e9f4e7;
$onboardingScheduled: #f6eefc;
$noShow: #f4f4f4;
$denied: #ffe9e7;
$recentlyActive: #e9f4e7;
$active: #e7f2fc;
$inactive: #fef5e7;
$pending: #fef0db;
$approved: #e9f4e7;
$declined: #ffe9e7;
