// General color pallet
$primary: black;
$buttonBlue: #5a72e1;
$mainBackground: #f6f7fb;

// Defines all of the label colors used throughout the project
// for each interest
$fun: #f2f492;
$cannabis: #b6e8a4;
$health: #99f7c4;
$music: #b298dc;
$nature: #c1f2aa;
$politics: #ccaa8a;
$housing: #d3ec8e;
$visualArts: #b4edd8;
$immigration: #efdea3;
$foodAndLand: #ebbfbf;
$transportation: #e9ffcd;
$stageAndScreen: #e4baf2;
$lit: #a0aef8;
$education: #afe4f0;

$admin: #ffe9e7;
$staff: #ffece4;
$contributor: #e9f4e7;
$onboarded: #e9f4e7;
$onboardingScheduled: #f6eefc;
$noShow: #f4f4f4;
$denied: #ffe9e7;
$recentlyActive: #e9f4e7;
$active: #e7f2fc;
$inactive: #fef5e7;
