@import 'colors.scss';

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $mainBackground;

  // Forces the sroll bar at ALL times to prevent div jumping
  overflow-y: scroll;
}

/* SSW Header Logo Styling */
.logo {
  width: 40%;
  margin-top: 2%;
}

.logo-header {
  text-align: center;
}

/* Page Title */
.page-title {
  font-weight: 700;
  font-size: 36px;
  padding: 5vh 0 5vh 0;
}

.editing,
.editors {
  background-color: $editing !important;
}

.writing,
.writers {
  background-color: $writing !important;
}

.visuals {
  background-color: $visuals !important;
}

.photography {
  background-color: $photography !important;
}

.illustration {
  background-color: $illustration !important;
}

.fact-checking,
.factchecking {
  background-color: $factChecking !important;
}

.fun {
  background-color: $fun !important;
}

.cannabis {
  background-color: $cannabis !important;
}

.health {
  background-color: $health !important;
}

.music {
  background-color: $music !important;
}

.nature {
  background-color: $nature !important;
}

.politics {
  background-color: $politics !important;
}

.housing {
  background-color: $housing !important;
}

.visual-arts {
  background-color: $visualArts !important;
}

.immigration {
  background-color: $immigration !important;
}

.food-and-land {
  background-color: $foodAndLand !important;
}

.transportation {
  background-color: $transportation !important;
}

.stage-and-screen {
  background-color: $stageAndScreen !important;
}

.lit,
.literature {
  background-color: $lit !important;
}

.education {
  background-color: $education !important;
}

.default-btn {
  background-color: $primary !important;
  color: white !important;

  &:hover,
  :focus {
    background-color: $primary !important;
    color: white !important;
    opacity: 0.9;
  }
}
