@import 'colors.scss';

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: $mainBackground !important;

  // Forces the sroll bar at ALL times to prevent div jumping
  overflow-y: scroll;

  .error {
    color: red;
  }
}

/* SSW Header Logo Styling */
.logo {
  width: 40%;
  margin-top: 2%;
}

.logo-header {
  text-align: center;
}

/* Page Title */
.page-title {
  font-weight: 700;
  font-size: 36px;
  padding: 5vh 0 5vh 0;
}

.scrollable {
  ::-webkit-scrollbar {
    width: 8px;
    overflow: visible;
    margin: 0px 4px;
  }

  ::-webkit-scrollbar-corner {
    display: none;
    background: #f5f5f5;
  }

  ::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
  }

  ::-webkit-scrollbar-button:vertical:start:increment,
  ::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.125);
    min-height: 28px;
    padding-top: 100px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    border-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }
}
