@import 'colors.scss';

body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $mainBackground;

  // Forces the sroll bar at ALL times to prevent div jumping
  overflow-y: scroll;
}

/* SSW Header Logo Styling */
.logo {
  width: 40%;
  margin-top: 2%;
}

.logo-header {
  text-align: center;
}

/* Page Title */
.page-title {
  font-weight: 700;
  font-size: 36px;
  padding: 5vh 0 5vh 0;
}

.fun-tag-color {
  background-color: $fun !important;
}

.cannabis-tag-color {
  background-color: $cannabis !important;
}

.health-tag-color {
  background-color: $health !important;
}

.music-tag-color {
  background-color: $music !important;
}

.nature-tag-color {
  background-color: $nature !important;
}

.politics-tag-color {
  background-color: $politics !important;
}

.housing-tag-color {
  background-color: $housing !important;
}

.visual-arts-tag-color {
  background-color: $visualArts !important;
}

.immigration-tag-color {
  background-color: $immigration !important;
}

.food-and-land-tag-color {
  background-color: $foodAndLand !important;
}

.transportation-tag-color {
  background-color: $transportation !important;
}

.stage-and-screen-tag-color {
  background-color: $stageAndScreen !important;
}

.lit-tag-color,
.literature-tag-color {
  background-color: $lit !important;
}

.education-tag-color {
  background-color: $education !important;
}

.admin-tag-color {
  background-color: $admin !important;
}

.staff-tag-color {
  background-color: $staff !important;
}

.contributor-tag-color {
  background-color: $contributor !important;
}

.onboarded-tag-color {
  background-color: $onboarded !important;
}

.onboarding-scheduled-tag-color {
  background-color: $onboardingScheduled !important;
}

.no-show-tag-color {
  background-color: $noShow !important;
}

.denied-tag-color {
  background-color: $denied !important;
}

.recently-active-tag-color {
  background-color: $recentlyActive !important;
}

.active-tag-color {
  background-color: $active !important;
}

.inactive-tag-color {
  background-color: $inactive !important;
}

.default-btn {
  background-color: $primary !important;
  color: white !important;

  &:hover,
  :focus {
    background-color: $primary !important;
    color: white !important;
    opacity: 0.9;
  }
}
